<section id="team">
    <div class="container">
        <h2>Meet Our Team</h2>
        <div class="row">
            <div class="col-sm-4">
                <%= image_tag("kando.jpg", :alt => "woman's face", :class => "img-circle") %>
                <h4>Kando</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, 
                nesciunt dolor ab laborum doloribus temporibus quaerat dolorum maxime debitis 
                dolore tenetur natus tempore cumque aliquid odit earum eveniet! Impedit, quod.</p>
            </div>
            <div class="col-sm-4">
                <%= image_tag("MClason.jpg", :alt => "man's face", :class => "img-circle") %>
                <h4>M. Clason</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, 
                nesciunt dolor ab laborum doloribus temporibus quaerat dolorum maxime debitis 
                dolore tenetur natus tempore cumque aliquid odit earum eveniet! Impedit, quod.</p>
            </div>
            <div class="col-sm-4">
                <%= image_tag("daniel.jpg", :alt => "man's face", :class => "img-circle") %>
                <h4>Daniel C.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, 
                nesciunt dolor ab laborum doloribus temporibus quaerat dolorum maxime debitis 
                dolore tenetur natus tempore cumque aliquid odit earum eveniet! Impedit, quod.</p>
            </div>
        </div>
    </div>
</section>