<section id="products">
  <div class="container">
     <h1>Our Products</h1>
        <p>What are your Software-as-a-Service needs? Reach out to a professional.</p>
     <div class="row">
         <div class="col-md-6">
             <div class="well">
               <%= link_to "Taskech ToDo App", "https://taskech.herokuapp.com/", :target => "_blank" %> 
             </div>  
         </div>
         <div class="col-md-6">
             <div class="well">
                <%= link_to "Workech Workout App", "https://workech.herokuapp.com/", :target => "_blank" %> 
             </div>
         </div>
     </div>
  </div>  
</section>


